/* opensans */
$fonts_dir_opensans: '../fonts/opensans';

/* regular */
@font-face {
    font-family: 'opensans_regular';
    src: url('#{$fonts_dir_opensans}/regular/opensans-regular.eot');
    src: url('#{$fonts_dir_opensans}/regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir_opensans}/regular/opensans-regular.svg#latoblack') format('svg'),
    url('#{$fonts_dir_opensans}/regular/opensans-regular.woff') format('woff'),
    url('#{$fonts_dir_opensans}/regular/opensans-regular.woff2') format('woff2'),
    url('#{$fonts_dir_opensans}/regular/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* semibold */
@font-face {
    font-family: 'opensans_semibold';
    src: url('#{$fonts_dir_opensans}/semibold/opensans-semibold.eot');
    src: url('#{$fonts_dir_opensans}/semibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir_opensans}/semibold/opensans-semibold.svg#latoblack') format('svg'),
    url('#{$fonts_dir_opensans}/semibold/opensans-semibold.woff') format('woff'),
    url('#{$fonts_dir_opensans}/semibold/opensans-semibold.woff2') format('woff2'),
    url('#{$fonts_dir_opensans}/semibold/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
